.button_container {
	overflow-x: hidden;
}

.button_content {
	width: 100%;
	background-color: var(--theme-color-primary);
	border-radius: 0.375rem;
	will-change: transform;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

.button_content_xl {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	height: 56px;
}

.button_content_md {
	height: 48px;
	width: 100%;
}

.button_container:hover {
	animation: elastic-bounce 0.4s ease-in-out;
	transform: scale(1.08, 1.07);
}

.button_content:hover {
	background-color: var(--theme-color-primaryHover);
	transition: background-color 0.2s ease-in-out;
}

@keyframes elastic-bounce {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(1.08, 1.07);
	}
	66% {
		transform: scale(1.05, 1.04);
	}
	100% {
		transform: scale(1.08, 1.07);
	}
}

.button_content span {
	color: white;
	font-weight: 700;
}

.button_content_xl span {
	font-size: var(--theme-font-size-h1SMobile);
}

.button_content_md span {
	font-size: var(--theme-font-size-h2Mobile);
}

@media (min-width: 430px) {
	.button_content_xl {
		height: 64px;
	}

	.button_container_md {
		max-width: 342px;
	}
}
