.container {
	height: 46px;
	background-color: var(--theme-color-primary);
}

.header {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 16px;
	font-weight: var(--theme-font-weight-bold);
}

.logo {
	width: 89px;
	object-fit: cover;
	cursor: pointer;
}

.header_right_content {
	display: flex;
	align-items: center;
	gap: 10px;
}

.store_logo {
	width: 136px;
}

.left_buttons_container,
.right_button,
.connect_button {
	display: none;
}

.region_selector {
	background: none;
	border: none;
}
.flag {
	width: 26px;
	height: 18px;
	object-fit: cover;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--theme-color-white);
}

@media (min-width: 1024px) {
	.container {
		height: 53px;
		background-color: var(--theme-color-white);
	}

	.header {
		padding: 0px;
		border-bottom: 1px solid var(--theme-color-lightGray2);
	}

	.header_left_content {
		display: flex;
		align-items: center;
		gap: 1rem;
		height: 100%;
	}

	.left_buttons_container {
		display: flex;
		align-items: center;
	}

	.left_button {
		display: flex;
		align-items: center;
		gap: 6px;
		padding: 16px 14px;
		background: none;
		border: none;
		cursor: pointer;
		font-size: var(--theme-font-size-bodyMobile);
	}

	.left_button:hover span {
		color: var(--theme-color-primary);
		transition: color 0.1s ease-in-out;
	}

	.logo_container {
		width: 105px;
		height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: var(--theme-color-primary);
	}

	.logo {
		width: 69px;
	}

	.header_right_content {
		padding-inline: 20px;
		gap: 1rem;
	}

	.right_button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		padding: 8px 12px;
		border: none;
		border-radius: 20px;
		background-color: var(--theme-colors-ui-bgAccent);
		cursor: pointer;
		font-size: var(--theme-font-size-bodyMobile);
	}

	.right_icon {
		color: var(--theme-color-darkGray2);
		fill: var(--theme-color-darkGray2);
	}

	.right_search_icon:hover {
		color: var(--theme-color-primary);
	}

	.right_button:hover .right_icon {
		color: var(--theme-color-primary);
		fill: var(--theme-color-primary);
		transition: color 0.2s ease-in-out, fill 0.2s ease-in-out;
	}

	.right_button:hover .right_search_icon,
	.right_button:hover span {
		color: var(--theme-color-primary);
		transition: color 0.1s ease-in-out;
	}

	.connect_button {
		border: 1px solid var(--theme-color-primary);
		border-radius: 20px;
		padding: 4px 14px;
		background-color: white;
		cursor: pointer;
	}

	.connect_button span {
		color: var(--theme-color-primary);
	}

	.store_logo {
		display: none;
	}
}
